@use "./common" as *;
@use "./mixin" as *;

.video-bg {
  width: 100%;
  height: 90vh;
  margin-top: 90px;
  position: relative;
  @include w599{
    height: 80vh;
  }
  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(255, 255, 255, 0.6);
  }
  video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content {
    position: absolute;
    z-index: 2;
    bottom: 60px;
    left: 60px;
    color: #3a3e40;
    line-height: 1.4;
    text-shadow: 2px 2px 0 rgb(0, 0, 0, 0.2);
    @include w900{
      bottom: 20px;
    }
    @include w768{
      left: 40px;
    }
    @include w599{
      left: 20px;
      bottom: 40px;
    }
    p {
      font-weight: 700;
      font-size: 28px;
      @include w900{
        font-size: 24px;
      }
      @include w768{
        font-size: 20px;
      }
      @include w599{
        font-size: 18px;
      }
    }
    h4 {
      font-weight: 900;
      font-size: 42px;
      @include w900{
        font-size: 36px;
      }
      @include w768{
        font-size: 32px;
      }
      @include w599{
        font-size: 28px;
      }
      span {
        color: #f65252;
      }
    }
    h2 {
      font-weight: 900;
      color: #f65252;
      font-size: 72px;
      @include w900{
        font-size: 58px;
      }
      @include w768{
        font-size: 48px;
      }
      @include w599{
        font-size: 42px;
      }
    }
  }
}

.super-experience {
  &__inner {
    padding-top: 120px;
    padding-bottom: 120px;
    @include w768{
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  &__content {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    @include w1024{
      width: 90%;
    }
    @include w768{
      flex-direction: column;
      align-items: flex-start;
    }
    &_left {
      margin-right: auto;
      color: #3a3e40;
      font-size: 48px;
      font-weight: 500;
      width: 40%;
      @include w900{
        font-size: 42px;
      }
      @include w768{
        margin-bottom: 20px;
        width: 90%;
        margin-left: auto;
      }
      @include w599{
        font-size: 38px;
      }
      span {
        color: #ff0000;
        font-weight: 700;
      }
    }
    &_right {
      width: 60%;
      color: #3a3e40;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.6;
      @include w900{
        font-size: 16px;
      }
      @include w768{
        width: 90%;
        margin: 0 auto;
      }
      @include w599{
        font-size: 14px;
      }
    }
  }
}

.super-feature {
  background: #f9f9f9;
  &__inner {
    padding-top: 80px;
    padding-bottom: 80px;
    @include w599{
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
  &__title {
    font-weight: 900;
    font-size: 36px;
    color: #3a3e40;
    text-align: center;
    margin-bottom: 40px;
    @include w599{
      font-size: 28px;
    }
    span {
      color: #f65252;
      font-weight: 900;
    }
  }
  &__items {
    width: 70%;
    margin: 0 auto;
    @include w1024{
      width: 80%;
    }
    @include w768{
      width: 90%;
    }
  }
  &__item {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    @include w599{
      flex-direction: column;
    }
    &_left {
      width: 50%;
      margin-left: 30px;
      @include w599{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
      }
    }
    &_right {
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 60px;
      color: #3a3e40;
      @include w768{
        margin-left: 30px;
      }
      @include w599{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
      p {
        line-height: 1.6;
        font-weight: 400;
        font-size: 18px;
        @include w1024{
          font-size: 16px;
        }
        @include w599{
          font-size: 14px;
        }
      }
      &_badge {
        background: #f65252;
        color: #fff;
        width: 80px;
        margin-bottom: 4px;
        p {
          font-weight: 700;
          font-size: 12px;
          padding: 4px 10px;
        }
        @include w599{
          font-size: 10px;
        }
      }
      b {
        font-weight: 900;
        font-size: 32px;
        margin-bottom: 20px;
        @include w768{
          font-size: 24px;
        }
        @include w599{
          margin-bottom: 15px;
        }
      }
    }
  }
}

.super-example {
  background: #f9f3f3;
  &__inner {
    padding-top: 80px;
    padding-bottom: 80px;
    @include w599{
      padding-top: 60px;
      padding-bottom: 40px;
    }
    h3 {
      font-weight: 900;
      color: #3a3e40;
      font-size: 36px;
      text-align: center;
      margin-bottom: 60px;
      @include w599{
        font-size: 28px;
        margin-bottom: 40px;
      }
    }
  }
  &__cards {
    max-width: 1280px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    @include w1024{
      flex-direction: column;
      align-items: center;
    }
  }
  &__card {
    width: 31%;
    position: relative;
    @include w1024{
      width: 65%;
      margin-bottom: 40px;
    }
    @include w768{
      width: 80%;
    }
    @include w599{
      width: 100%;
    }
    &_reduce {
      position: absolute;
      top: 84%;
      left: 70%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      background: #f65252;
      border-radius: 50%;
      color: #fff;
      font-weight: 900;
      line-height: 1.2;
      @include w1024{
        top: 87%;
      }
      @include w599{
        left: 78%;
        top: 85%;
      }
      @include w450{
        top: 82%;
      }
      b {
        font-size: 24px;
      }
      p {
        font-size: 16px;
        @include w599{
          font-size: 14px;
        }
      }
    }
    .card {
      &__img {
        width: 100%;
      }
      &__content {
        padding: 30px 20px 40px;
        background: #fff;
        color: #3a3e40;
        h4 {
          font-size: 24px;
          font-weight: 700;
          margin-bottom: 16px;
        }
        &_contact-detail {
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 8px;
          &_p {
            border-bottom: 1px solid #7e8387;
            font-size: 16px;
            font-weight: 400;
            padding-bottom: 10px;
            margin-bottom: 20px;
          }
        }
        &_flow {
          width: 150px;
          display: flex;
          flex-direction: column;
          align-items: center;
          p {
            margin-bottom: 6px;
          }
          b {
            font-weight: 900;
          }
          .material-symbols-outlined {
            font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
            color: #ff0000;
            transform: rotate(270deg);
            margin-bottom: 8px;
            font-size: 28px;
          }
        }
      }
    }
  }
}

.super-flow {
  background: linear-gradient(
    185deg,
    #eeeeee 0%,
    #eeeeee 50%,
    rgba(202, 86, 86, 0.1) 50%,
    rgba(202, 86, 86, 0.1) 100%
  );

  &__inner {
    padding-top: 80px;
    padding-bottom: 80px;
    @include w599{
      padding-top: 60px;
      padding-bottom: 80px;
    }
    h3 {
      font-weight: 900;
      font-size: 36px;
      color: #3a3e40;
      text-align: center;
      margin-bottom: 40px;
      @include w599{
        font-size: 28px;
      }
    }
  }
  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .material-symbols-outlined {
      font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
      color: rgb(255, 0, 0, 0.3);
      font-size: 80px;
      transform: rotate(180deg);
      margin-top: 24px;
      margin-bottom: 24px;
      @include w599{
        font-size: 60px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  &__item {
    width: 1000px;
    height: 200px;
    display: flex;
    @include w1200{
      width: 90%;
    }
    @include w768{
      flex-direction: column;
    }
    &_left {
      width: 40%;
      height: 100%;
      padding: 10px 40px 10px 20px;
      background: #f65252;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 900;
      line-height: 1.4;
      @include w768{
        width: 100%;
      }
      p {
        font-size: 18px;
        padding-bottom: 8px;
        @include w768{
          padding-bottom: 0;
        }
        @include w599{
          font-size: 14px;
        }
      }
      b {
        font-size: 36px;
        @include w900{
          font-size: 28px;
        }
        @include w599{
          font-size: 24px;
        }
      }
      .b34{
        font-size: 28px;
        @include w900{
          font-size: 24px;
        }
        @include w599{
          font-size: 20px;
        }
      }
      .super-step-br{
        display: none;
        @include w1024{
          display: block;
        }
      }
    }
    &_right {
      width: 60%;
      height: 100%;
      background: #fff;
      color: #3a3e40;
      font-weight: 400;
      font-size: 16px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 10px 20px;
      @include w768{
        width: 100%;
      }
      @include w599{
        font-size: 14px;
      }
    }
  }
}
