@use "./common" as *;
@use "./mixin" as *;

.next-sec-title {
  text-align: center;
  position: relative;
  padding-bottom: 60px;
  @include w599 {
    padding-bottom: 40px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    z-index: 10;
    position: relative;
    p {
      font-size: 18px;
      color: #6bb42d;
      font-weight: 900;
      letter-spacing: 11px;
      @include w768 {
        font-size: 16px;
      }
      @include w599 {
        font-size: 12px;
      }
    }
    h2 {
      font-weight: 900;
      font-size: 48px;
      color: #3a3e40;
      @include w768 {
        font-size: 42px;
      }
      @include w599 {
        font-size: 32px;
      }
    }
  }
  &__img {
    z-index: 1;
    position: absolute;
    top: -50px;
    right: 32%;
    width: 200px;
    @include w768 {
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }
    @include w599 {
      width: 150px;
    }
  }
}

.next-mainbg {
  width: 100%;
  .next-main-pc {
    display: block;
    @include w599 {
      display: none;
    }
  }
  .next-main-sp {
    display: none;
    @include w599 {
      display: block;
    }
  }
}
.next-step {
  &__inner {
    padding: 60px 40px;
  }
  &__item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include w1024 {
      flex-direction: column;
    }
    &_left {
      width: 45%;
      height: 100%;
      background: #f9f9f9;
      border-radius: 30px;
      @include w1024 {
        width: 540px;
        margin-bottom: 28px;
      }
      @include w768 {
        width: 85%;
      }
      @include w599 {
        width: 100%;
      }
      &_inner {
        padding: 60px;
        @include w1024 {
          padding: 40px 60px;
        }
        @include w599 {
          padding: 28px 20px;
        }
      }
      &_title {
        text-align: center;
        padding-bottom: 36px;
        @include w599 {
          padding-bottom: 24px;
        }
        h3 {
          display: inline;
          font-size: 36px;
          font-weight: 900;
          color: #3a3e40;
          background: linear-gradient(transparent 50%, rgb(255, 238, 0) 50%);
          @include w599 {
            font-size: 24px;
          }
        }
      }
      &_content {
        display: flex;
        align-items: center;
        padding-bottom: 12px;
        .num {
          background: #6bb42d;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 18px;
          p {
            padding: 4px 12px;
            color: #fff;
            font-weight: 900;
            font-size: 24px;
            @include w599 {
              padding: 4px 10px 5px 10px;
              font-size: 18px;
            }
          }
        }
        .step-p {
          font-weight: 900;
          font-size: 28px;
          color: #6bb42d;
          @include w1440 {
            font-size: 24px;
          }
          @include w599 {
            font-size: 18px;
          }
        }
      }
    }
    &_right {
      width: 45%;
      @include w1024 {
        width: 540px;
      }
      @include w768 {
        width: 85%;
      }
      @include w599 {
        width: 100%;
      }
      video {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.next-analysis {
  background: #f9f9f9;
  &__inner {
    padding: 80px 0;
    @include w599 {
      padding: 40px 0;
    }
  }
  &__content {
    max-width: 1280px;
    margin: 0 auto;
    background: #fff;
    border-radius: 30px;
    @include w1440 {
      max-width: 90%;
    }
    &_inner {
      padding: 60px 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      @include w768 {
        flex-direction: column;
      }
      @include w599 {
        padding: 40px 20px 10px 20px;
      }
    }
    &_item {
      width: 45%;
      padding: 0 10px 40px;
      @include w768 {
        width: 80%;
        margin: 0 auto;
      }
      @include w599 {
        width: 100%;
      }

      .img {
        border: #6bb42d 1px solid;
        border-radius: 20px;
        height: 250px;
        overflow: hidden;
        @include w1024 {
          height: 200px;
        }
        @include w599 {
          height: 160px;
        }
      }
      h4 {
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        color: #419438;
        padding-top: 20px;
        padding-bottom: 20px;
        @include w768 {
          font-size: 20px;
        }
        @include w599 {
          padding-top: 15px;
          padding-bottom: 10px;
        }
      }
      p {
        line-height: 1.6;
        font-weight: 400;
        color: #3a3e40;
        @include w599 {
          font-size: 14px;
        }
      }
    }
  }
}

.next-outbound {
  background: #eeeeee;
  &__inner {
    padding: 80px 0px;
    @include w599 {
      padding: 40px 0px;
    }
  }
  &__item {
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-bottom: 40px;
    @include w1024 {
      max-width: 85%;
    }
    @include w768 {
      padding: 40px 60px;
    }
    @include w599 {
      padding: 40px 28px;
      max-width: 90%;
    }
    h4 {
      font-size: 36px;
      font-weight: 900;
      color: #419438;
      padding-bottom: 20px;
      @include w599 {
        font-size: 24px;
      }
    }
    p {
      font-family: "Lato";
      font-weight: 400;
      color: #333;
      padding-bottom: 20px;
      letter-spacing: 1.3px;
      line-height: 1.4;
      @include w599 {
        font-size: 14px;
      }
    }
    &_video {
      width: 70%;
      @include w768 {
        width: 80%;
      }
      @include w599 {
        width: 100%;
      }
      video {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.next-management {
  background: #f4f4f4;
  &__inner {
    padding-top: 80px;
    padding-bottom: 80px;
    @include w599 {
      padding-bottom: 40px;
    }
  }
  &__item {
    max-width: 900px;
    margin: 0 auto;
    background: #fff;
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-bottom: 40px;
    @include w1024 {
      max-width: 85%;
    }
    @include w768 {
      padding: 40px 60px;
    }
    @include w599 {
      padding: 40px 28px;
      max-width: 90%;
    }
    h4 {
      font-size: 36px;
      font-weight: 900;
      color: #419438;
      padding-bottom: 20px;
      @include w599 {
        font-size: 24px;
      }
    }
    p {
      font-family: "Lato";
      font-weight: 400;
      color: #333;
      padding-bottom: 20px;
      letter-spacing: 1.3px;
      line-height: 1.4;
      @include w599 {
        font-size: 14px;
      }
    }
    &_video {
      width: 70%;
      @include w768 {
        width: 80%;
      }
      @include w599 {
        width: 100%;
      }
      video {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .others {
    padding-bottom: 80px;
    &__content {
      width: 600px;
      margin: 0 auto;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.4;
      font-family: "Lato";
      color: #333;
      @include w768 {
        width: fit-content;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 16px;
      }
      @include w599 {
        font-size: 14px;
      }
    }
  }
}

.next-faq {
  background: #fff;
  &__inner {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &__title {
    text-align: center;
    padding-bottom: 40px;
    p {
      font-size: 18px;
      font-weight: 700;
      color: #419438;
      letter-spacing: 11px;
      @include w768 {
        font-size: 16px;
      }
      @include w599 {
        font-size: 12px;
      }
    }
    b {
      font-size: 48px;
      font-weight: 900;
      color: #3a3e40;
      @include w768 {
        font-size: 42px;
      }
      @include w599 {
        font-size: 32px;
      }
    }
  }
  &__content {
    width: 60%;
    margin: 0 auto;
    @include w1024 {
      width: 75%;
    }
    @include w768 {
      width: 85%;
    }
    @include w599 {
      width: 90%;
    }
    .border-dotted {
      border-top: 1px dashed #7e8387;
      border-style: dashed;
    }
    &_item {
      border-bottom: 1px dashed #7e8387;
      border-style: dashed;
      color: #3a3e40;
      b {
        font-weight: 700;
        font-size: 24px;
        display: block;
        padding-top: 40px;
        padding-left: 70px;
        position: relative;
        @include w599{
          font-size: 18px;
          padding-left: 40px;
        }
        &::after {
          content: "Q";
          color: #419438;
          font-size: 36px;
          font-weight: 900;
          position: absolute;
          top: 26px;
          left: 0;
          @include w599{
            font-size: 32px;
            top: 30px
          }
        }
      }
      &_p {
        padding: 20px 0 40px 70px;
        font-weight: 400;
        line-height: 1.2;
        word-wrap: break-word;
        @include w599{
          padding: 20px 0 40px 40px;
          font-size: 14px;
        }
        .item_p_bold {
          font-weight: 700;
          padding-top: 12px;
        }
      }
    }
  }
}

.next-form {
  background: #419438;
  padding-top: 140px;
  padding-bottom: 120px;
  @include w768 {
    padding-top: 80px;
    padding-bottom: 60px;
  }
  @include w599 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  &__inner {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    border-radius: 30px;
    padding: 80px 40px;
    @include w599 {
      width: 90%;
      padding: 40px 20px;
    }
  }
  &__title {
    text-align: center;
    line-height: 1.2;
    padding-bottom: 40px;
    @include w599 {
      padding-bottom: 20px;
    }
    h4 {
      color: #419438;
      font-weight: 900;
      font-size: 48px;
      @include w599 {
        font-size: 38px;
      }
    }
    b {
      letter-spacing: 4px;
      font-weight: 900;
      font-size: 32px;
      color: #3a3e40;
      padding-bottom: 60px;
      display: block;
      @include w599 {
        font-size: 24px;
      }
    }
    p {
      display: block;
      font-size: 28px;
      font-weight: 900;
      color: #6bb42d;
      @include w599 {
        font-size: 20px;
      }
    }
  }
  &__cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
    padding-bottom: 72px;
    @include w1700 {
      width: 90%;
    }
    @include w1440 {
      width: 100%;
    }
    @include w1200 {
      flex-direction: column;
    }
  }
  &__card {
    width: 45%;
    background: #f9f9f9;
    padding: 40px;
    height: 300px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include w1200 {
      width: 60%;
      height: auto;
      &:first-child {
        margin-bottom: 20px;
      }
    }
    @include w1024 {
      width: 80%;
    }
    @include w768 {
      width: 100%;
    }
    @include w599 {
      padding: 28px 20px;
    }
    b {
      font-size: 48px;
      font-weight: 900;
      color: #3a3e40;
      margin-bottom: 12px;
      @include w1440 {
        font-size: 42px;
      }
      @include w599 {
        font-size: 32px;
      }
    }
    p {
      color: #3a3e40;
      @include w599 {
        font-size: 12px;
      }
    }
    &_badge {
      border-radius: 30px;
      background: #6bb42d;
      display: inline-block;
      margin-bottom: 12px;
      p {
        padding: 10px 20px;
        font-weight: 500;
        color: #fff;
        @include w599 {
          font-size: 14px;
        }
      }
    }
    .right {
      background: #419438;
    }
    .support {
      font-size: 18px;
      font-weight: 500;
    }
    .care {
      padding-top: 12px;
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__contact {
    width: 75%;
    margin: 0 auto;
    @include w768 {
      width: 95%;
    }
    h5 {
      color: #6bb42d;
      font-weight: 900;
      font-size: 28px;
      text-align: center;
      padding-bottom: 40px;
      @include w599 {
        font-size: 20px;
        width: 100%;
        padding-bottom: 20px;
      }
    }
    p {
      line-height: 1.6;
      font-weight: 400;
      color: #333;
      @include w599 {
        font-size: 14px;
      }
    }
    .hvr-glow {
      display: block;
      width: 75%;
      margin: 0 auto;
      margin-top: 40px;
      background: #419438;
      border-radius: 50px;
      @include w1024 {
        width: 90%;
      }
      @include w900 {
        width: 100%;
      }
    }
    &_btn {
      p {
        color: #fff;
        padding: 14px 40px;
        text-align: center;
        font-size: 20px;
        font-weight: 900;
        letter-spacing: 5px;
        @include w599 {
          padding: 14px 20px;
          font-size: 14px;
        }
      }
    }
  }
  &__wrapper {
    width: 60%;
    margin: 0 auto;
    margin-top: 60px;
    @include w768 {
      width: 80%;
    }
    @include w599 {
      width: 95%;
    }
    label {
      font-weight: bold;
      color: #3a3e40;
      @include w599 {
        font-size: 14px;
      }
    }
    .required {
      color: red;
    }
    input {
      &::placeholder {
        color: #777777;
      }
      padding: 10px 15px;
      margin-top: 10px;
      margin-bottom: 20px;
      border-radius: 4px;
      font-weight: 400;
      width: 100%;
      height: 50px;
      border: 2px solid #000;
      &:focus {
        border: #1e88ff 1px solid;
      }
    }
    textarea {
      &::placeholder {
        color: #777777;
      }
      padding: 10px;
      margin-top: 10px;
      margin-bottom: 20px;
      border-radius: 4px;
      font-weight: 400;
      width: 100%;
      height: 160px;
      border: 2px solid #000;
    }
    .border {
      border-top: 1px solid #b0b0b0;
      margin-bottom: 20px;
    }
    .radio-first {
      padding-top: 16px;
    }
    .radio-other {
      padding-bottom: 16px;
    }
    .wpcf7-radio {
      display: block;
      margin-left: 16px;
      .wpcf7-list-item {
        margin: 0;
        label {
          margin: 0;
          margin-right: auto;
          font-size: 14px;
          font-family: "Lato";
          font-weight: normal;
          color: #3a3e40;
        }
      }
    }
    input[type="radio"] {
      margin-right: 10px;
      width: 15px;
      height: 15px;
    }
    .submit {
      position: relative;
      margin: 0 auto;
      margin-top: 24px;
      width: 210px;
      @include w599 {
        margin-top: 10px;
      }
      &:hover {
        opacity: 0.9;
      }
      &:hover .arrow {
        transform: translateX(5px);
      }
      .arrow {
        transition: transform 0.2s ease-in-out;
        position: absolute;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        top: 2px;
        right: 30px;
        cursor: pointer;
      }
    }

    .use {
      width: 50%;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      padding-top: 24px;
      padding-bottom: 20px;
      &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 16px;
        p {
          color: #3a3e40;
          font-family: "Lato";
          font-size: 16px;
        }
        input {
          margin: 0;
          width: 350px;
          margin-left: auto;
        }
      }
    }

    input[type="submit"] {
      font-size: 14px;
      color: #fff;
      background: #419438;
      border-radius: 30px;
      padding: 20px 20px 35px 40px;
      border: none;
    }

    .wpcf7-list-item {
      width: 100%;
      display: flex;
      align-items: center;
      margin: 0 auto;
      .checkbox {
        width: 15px;
        margin-right: 15px;
      }
      label {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #3a3e40;
      }
      .wpcf7-list-item-label {
        padding-bottom: 12px;
        font-weight: 600;
        font-size: 15px;
        @include w599 {
          font-size: 14px;
        }
        a {
          color: #419438;
          border-bottom: 1px solid #419438;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
